<template>
    <div>
        <div>
            <div class="label inline-block">{{label}}</div>
            <div class="field inline-block">
                <template v-if="edit">
                <!-- text -->
                <template v-if="type === 'text'">
                    <input type="text" v-model="fieldValue" />
                </template>

                <!-- password -->
                <template v-if="type === 'password'">
                    <input type="password" v-model="fieldValue" />
                </template>

                <!-- select -->
                <template v-if="type === 'select'">
                    <select v-model="fieldValue">
                        <option v-for="(item, index) in options.selectOptions" :key="index"
                        :value="item.value">
                            {{item.label}}
                        </option>
                    </select>
                </template>

                <!-- datetime -->
                <template v-if="type === 'datetime'">
                    <DatePicker :type="options.type || 'date'"
                        v-model="fieldValue" :format="options.formate">
                    </DatePicker>
                </template>
                </template>
                <template v-else>
                    <span>{{ fieldValue }}</span>
                </template>
            </div>
        </div>
        <div>
            <ul>
                <li v-for="(message, index) in errorMessages" :key="index">
                    {{message}}
                </li>
            </ul>
        </div>
    </div>
</template>


<script>
export default {
    name: 'field',
    props: {
        label: { type: String, default: '' },
        type: { type: String, default: 'text' },
        value: { required: true },
        errorMessages: { type: Array, default: () => { return []; } },
        options: { type: Object, default: () => { return {}; }},
        edit: { type: Boolean, default: true },
    },
    data() {
        return {
            fieldValue: this.value,
        };
    },
    watch: {
        fieldValue() {
            this.inputEmit();
        }
    },
    methods: {
        inputEmit() {
            this.$emit('input', this.fieldValue);
        },
    }
}
</script>

<style scoped>
    .label, .field {
        padding: 0;
        border: 0;
        margin: 5px 10px;
    }

    .inline-block {
        position: relative;
        display: inline-block;
    }
</style>